{% extends "base.html" %}
{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
{% comment %} Сделаем ссылку на about {% endcomment %}
{% comment %} <a href="/about/">About</a> {% endcomment %}
<a href="{% url 'about' %}">About</a>
<ul>
    {% for category in categories %}
    <li>
        <p>{{ category.id }}</p>
        <p>{{ category.name }}</p>
        <p>{{ category.description }}</p>
        <a href="{% url 'category' category.id %}">Подробнее</a>
    </li>
    {% endfor %}
</ul>
{% endblock  %}